
#map { 
  height: 75vh; 
}

.low {
  color: darkkhaki;
  font-weight: bold;
}

.medium {
  color: orange;
  font-weight: bold;
}


.high {
  color: red;
  font-weight: bold;
}

.textarea {
  max-height: 15vh;
}

.jumbotron {
    padding-top: 15px;
    padding-bottom: 15px;
}

.navigationbar
{
  font-family: 'Lato', sans-serif;
  color:grey;
  margin: 0px;
}

#resetbtn {
  float: right;
}


.alert-text {
  position: fixed;
  top: 1vh;
  margin-left: 80%;
  width: 20%;
  transition: height .2s;
}

.navbar-brand
{
  font-family: 'Lato', sans-serif;
  color:red;
  font-size: 30px;
  margin: 0px;
}

.jumbotron{
color: white;
background-color:#033076; !important;*/
}

.col-6 {
   padding: 25px;
}

.col-8 {
  padding-left: 0px;
}

#banner a {
  text-decoration: none;
  color: white;
}

#banner a:hover{
  text-decoration: none;
  color: white;
}


.img {
  width: 75px;
  height: 75px;
}


/* Modify the background color */
.navbar-custom {
    background-color: red;
    color: white;
    font-size: 2vw;
}

.blockquote, .blockquote-footer{
  color: white;
}


.form {
  margin-top: 25px;
  font-size: 2vh;
}

body{
  font-size: 2vh;
}



</style>