
#map { 
  height: 85vh; 
}

#time {
  float: right;
  font-size: 2vh;
}


#dtBasicExample {
  font-size: 2vh;
}

.answer1 {
  display: none;
}

.question1:hover + .answer1 {
  display: block;
  color: red;
  font-weight: bold;
}

.low {
  color: darkkhaki;
  font-weight: bold;
}

.medium {
  color: orange;
  font-weight: bold;
}

#successtext {
  z-index: 1000;
}

#errortext {
  z-index: 1000;
}


.output{
  font-size: 2vh;
}


.high {
  color: red;
  font-weight: bold;
}

.textarea {
  max-height: 15vh;
}

.jumbotron {
    padding-top: 15px;
    padding-bottom: 15px;
}

.navigationbar
{
  font-family: 'Lato', sans-serif;
  color:grey;
  margin: 0px;
}

#resetbtn {
  float: right;
}

#delbtn {
  font-size: 5px;
}


.alert-text {
  position: fixed;
  top: 1vh;
  margin-left: 80%;
  width: 20%;
  transition: height .2s;
}

.navbar-brand
{
  font-family: 'Lato', sans-serif;
  color:red;
  font-size: 30px;
  margin: 0px;
}

.jumbotron{
color: white;
background-color:#033076; !important;*/
}

.col-4 {
  font-size: 5px;
}


.col-6 {
   padding: 25px;
}

.col-8 {
  padding-left: 0px;
  font-size: 1em;
}

#banner a {
  text-decoration: none;
  color: white;
}

#banner a:hover{
  text-decoration: none;
  color: white;
}


.img {
  width: 75px;
  height: 75px;
}


/* Modify the background color */
.navbar-custom {
    background-color: red;
    color: white;
    font-size: 2vw;
}

.blockquote, .blockquote-footer{
  color: white;
}


.form {
  margin-top: 25px;
  font-size: 2vh;
}

body{
  font-size: 2vh;
  max-width: 100%;
}



</style>